@model (List<DataBaseMVCApplication.ViewModels.WindowViewModel>, List<DataBaseMVCApplication.ViewModels.ManufactorViewModel>)
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="d-flex flex-row justify-content-between" style="margin-bottom:40px">
        @Html.ActionLink("Добавить окно", "Add", "Window", null, new { @class = "btn btn-primary" })
        @using (Html.BeginForm("Index", "Home"))
        {
            @Html.DropDownList("ManufactorId", Model.Item2.Select(e =>
    {
    var listItem = new SelectListItem();
    listItem.Text = e.Name;
    listItem.Value = e.Id.ToString();
    return listItem;
    }), new { @class = "form-control-lg", @Name = "ManufactorId", @OnChange = "submit()" })
        }


    </div>



<div class="row row-cols-1 row-cols-md-3">
    @foreach (var window in Model.Item1)
    {
        <div class="col mb-4" id="@window.Id">
            <div class="card">
                <div>
                    @Html.ActionLink(window.Id.ToString(), "Show", new { index = window.Id })
                </div>
                @if (window.Image != null)
                {
                    @Html.Raw("<img class=\"card-img-top\" style=\"width:340px;height:340px;\" src=\"data:image/jpeg;base64,"
                                                    + Convert.ToBase64String(window.Image) + "\" />")
                }
                <div class="card-body">
                    <div>
                        Наличие :
                        @if (window.Having)
                        {
                            <span>В наличии</span>
                        }
                        else
                        {
                            <span>Нет в наличии</span>
                        }
                    </div>
                    <div>Производитель :@window.ManufactorName</div>
                    <div>Цвет : @window.Color</div>
                    <div>Цена: @window.Price</div>
                    <div>
                        <button type="button" onclick="deleteWindow(@window.Id)" style="background-color: transparent;border:none;">
                            <img width="50px" height="50px" src="~/Images/delete.png" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script src="~/Scripts/ScriptsForViews/removeEntities.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}





