<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

        <style>
            div {
                font-size: 16px;
            }
        </style>

</head>
<body>
    <div class="navbar navbar-left">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="../Seller">Продавцы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../Buyers">Покупатели</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../Home">Окна</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="../Manufactor">Производители</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="../Order">Заказы</a>
            </li>


        </ul>
    </div>
  @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
