@model (DataBaseMVCApplication.ViewModels.WindowViewModel, List<DataBaseMVCApplication.ViewModels.ManufactorViewModel>)


@{
    ViewBag.Title = "Add";
}



@using (Html.BeginForm("Add", "Window", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" style="display:inline-block;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Производитель", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownList("Manufactor",
           Model.Item2.Select(m => new SelectListItem() { Value = m.Id.ToString(), Text = m.Name })
           , new { @class = "form-control", @Name = "manufactorId" })
        </div>

        <div class="form-group">
            <label for="Image">Изображение</label>

            <input type="file" id="Image" class="form-control-file" name="UploadImage" />
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Item1.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Item1.Price, new { htmlAttributes = new { @class = "form-control", @Name = "Price" } })
            @Html.ValidationMessageFor(model => model.Item1.Price, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item1.Color, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Item1.Color, new { htmlAttributes = new { @class = "form-control", @Name = "Color" } })
            @Html.ValidationMessageFor(model => model.Item1.Color, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item1.Having)

            @Html.EditorFor(model => model.Item1.Having, new { htmlAttributes = new { @Name = "Having", @class = "form-check" } })
        </div>

        <div class="form-group">
            <label for="model.Item1.Description">Описание</label>
            <textarea class="form-control" cols="990" name="Description" id="Description"></textarea>

        </div>

        <div class="form-group">
            <input type="submit" value="Добавить" class="btn btn-primary" />
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
