@model DataBaseMVCApplication.ViewModels.WindowViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("Edit", "window", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" >
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        @if (Model.Image != null)
        {
            @Html.Raw("<img style='width:500px; height:500px; margin-bottom:30px' src=\"data:image/jpeg;base64,"
                                                   + Convert.ToBase64String(Model.Image) + "\" />")
        }




        @Html.Hidden("ManufactorId", Model.ManufactorId)


        <div class="form-group row">
            @Html.Label("Модель")
            <div class="col-sm-10">
                @Html.EditorFor(model=>model.Model, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group row">
            @Html.Label("Изображение", htmlAttributes: new { @class = "col-form-label" })
            <div class="col-sm-10">
                <input type="file" name="UploadImage" />
            </div>
        </div>

        <div class="form-group row">
            @Html.Label("Цена", htmlAttributes: new { @class = "col-form-label" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.Label("Цвет", htmlAttributes: new { @class = "col-form-label" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.Label("Есть в наличии")
            <div class="col-sm-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Having)
                    @Html.ValidationMessageFor(model => model.Having, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group row">
            @Html.Label("Описание", htmlAttributes: new { @class = "col-form-label" })
            <div class="col-sm-10">
                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-left:130px">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
