@model (DataBaseMVCApplication.ViewModels.OrderViewModel, HashSet<DataBaseMVCApplication.ViewModels.BuyerViewModel>, HashSet<DataBaseMVCApplication.ViewModels.SellerViewModel>, IEnumerable<DataBaseMVCApplication.ViewModels.WindowViewModel>)

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" >
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group row">
            <label class="col-form-label" for="buyerId">Покупатель</label>
            <div class="col-sm-10">
                <select class="form-control" id="buyerId" name="buyerId">
                    <option selected></option>
                    @foreach (var e in Model.Item2)
                    {
                        <option value="@e.Id">@e.FIO</option>
                    }
                </select>
            </div>
            @Html.RouteLink("Добавить покупателя", new { controller = "Buyer", action = "add" }, new { @class = "btn btn-primary", @target = "_blank" })
        </div>
        <div class="form-group row">
            <label for="sellerId" class="col-form-label">Продавец</label>
            <div class="col-sm-10">
                <select class="form-control" id="sellerId" name="sellerId">
                    <option selected></option>
                    @foreach (var e in Model.Item3)
                    {
                        <option value="@e.Id">@e.FIO</option>
                    }
                </select>
            </div>
        </div>







        <div class="form-group row">
            <label  for="IsDeliver">Нужна доставка</label>
            <div class="col-sm-10">
                <input type="checkbox" name="IsDeliver" id="IsDeliver" />
            </div>
        </div>

        <div class="form-group row">
            <label for="IsSetup">Нужна установка</label>
            <div class="col-sm-10">
                <input type="checkbox" name="IsSetup" id="IsSetup" />
            </div>
        </div>



        <div class="form-group row">
            <label class="col-form-label" for="DeliverDate">Дата доставки</label>
            <div class="col-sm-10">
                <input class="form-control" type="datetime-local" name="DeliverDate" id="DeliverDate" />
            </div>
            </div>

        <div class="form-group row">
            <label class="col-form-label" for="SetupDate">Дата установки</label>
            <div class="col-sm-10">
                <input class="form-control" type="datetime-local" name="SetupDate" id="SetupDate" />
            </div>
            </div>

        <div class="form-group row">
            <label class="col-form-label" for="Price">Цена</label>
            <div class="col-sm-10">
                <input class="form-control" type="number" name="Price" id="Price" disabled step="0.001" />
            </div>
            </div>

        <select id="windowsSelect" class="form-control" hidden>
            <option selected></option>
            @foreach (var e in Model.Item4)
            {
                <option value="@e.Id">@String.Format("{0} производитель {1} цвет {2} наличие-{3} цена:{4}", e.Description, e.ManufactorName, e.Color, e.Having ? "В наличии" : "Нет в наличии", e.Price)</option>
            }
        </select>


        <div class="form-group">
            <button type="button" onclick="addPositionOrder()">Добавить позицию заказа</button>
            <table id="orderPositions">
                <tr>
                    <th>Окно</th>
                    <th>Длина</th>
                    <th>Ширина</th>
                    <th></th>
                </tr>
            </table>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Добавить" onclick="send()" class="btn btn-dark" id="addBtn" />
            </div>
        </div>
    </div>
    <script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>

    <script src="~/Scripts/ScriptsForViews/addPositionOrder.js">

    </script>

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
