@model (DataBaseMVCApplication.ViewModels.OrderViewModel, HashSet<DataBaseMVCApplication.ViewModels.BuyerViewModel>, HashSet<DataBaseMVCApplication.ViewModels.SellerViewModel>, IEnumerable<DataBaseMVCApplication.ViewModels.WindowViewModel>)
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("Edit", "Order", FormMethod.Post, new { @onsubmit = "sendData();" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Item1.Id, new { @id = "orderId" })


        <div class="form-group row">
            <label class="col-form-label" for="buyerId">Покупатель</label>
            <div class="col-sm-10">
                <select id="buyerId" class="form-control">
                    @foreach (var e in Model.Item2)
                    {
                        <option @(e.Id == Model.Item1.BuyerId ? "selected" : "") value="@e.Id">@e.FIO</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label" for="sellerId">Продавец</label>
            <div class="col-sm-10">
                <select class="form-control" id="sellerId">
                    @foreach (var e in Model.Item3)
                    {
                        <option @(e.Id == Model.Item1.SellerId ? "selected" : "") value="@e.Id">@e.FIO</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label  for="IsDeliver">Нужна доставка</label>
            <div class="col-sm-10">
                <input  type="checkbox" id="IsDeliver" @(Model.Item1.IsDeliver ? "checked" : "") />
            </div>
        </div>

        <div class="form-group row">
            <label for="IsSetup">Нужна установка</label>
            <div class="col-sm-10">
                <input type="checkbox" id="IsSetup" @(Model.Item1.IsSetup ? "checked" : "") />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label" for="OrderDate">Дата заказа</label>
            <div class="col-sm-10">
                <input class="form-control" type="datetime-local" id="OrderDate" value="@String.Format("{0}-{1}-{2}T{3}:{4}", Model.Item1.OrderDate.Year, Model.Item1.OrderDate.Month<10?"0"+Model.Item1.OrderDate.Month.ToString():Model.Item1.OrderDate.Month.ToString(), Model.Item1.OrderDate.Day<10?"0"+Model.Item1.OrderDate.Day.ToString():Model.Item1.OrderDate.Day.ToString(), Model.Item1.OrderDate.Hour==0 || Model.Item1.OrderDate.Hour<10?"0"+Model.Item1.OrderDate.Hour.ToString():Model.Item1.OrderDate.Hour.ToString(), Model.Item1.OrderDate.Minute==0 || Model.Item1.OrderDate.Minute<10 ?"0"+Model.Item1.OrderDate.Minute.ToString():Model.Item1.OrderDate.Minute.ToString())" />
            </div>
            </div>

        <div class="form-group row">
            <label class="col-form-label" for="DeliverDate">Дата доставки</label>
            <div class="col-sm-10">
                <input class="form-control" type="datetime-local" value="@if (Model.Item1.DeliverDate != null)
              {@String.Format("{0}-{1}-{2}T{3}:{4}", Model.Item1.DeliverDate.Value.Year, Model.Item1.DeliverDate.Value.Month<10?"0"+Model.Item1.DeliverDate.Value.Month.ToString():Model.Item1.DeliverDate.Value.Month.ToString(), Model.Item1.DeliverDate.Value.Day<10?"0"+Model.Item1.DeliverDate.Value.Day.ToString():Model.Item1.DeliverDate.Value.Day.ToString(), Model.Item1.DeliverDate.Value.Hour==0 || Model.Item1.DeliverDate.Value.Hour<10?"0"+Model.Item1.DeliverDate.Value.Hour.ToString():Model.Item1.DeliverDate.Value.Hour.ToString(), Model.Item1.DeliverDate.Value.Minute==0 || Model.Item1.DeliverDate.Value.Hour<10?"0"+Model.Item1.DeliverDate.Value.Minute.ToString():Model.Item1.DeliverDate.Value.Minute.ToString())}" id="DeliverDate" />
            </div>
            </div>

        <div class="form-group row">
            <label class="col-form-label" for="SetupDate">Дата установки</label>
            <div class="col-sm-10">
                <input type="datetime-local" class="form-control" id="SetupDate" value="@if (Model.Item1.SetupDate != null)
                {@String.Format("{0}-{1}-{2}T{3}:{4}", Model.Item1.SetupDate.Value.Year, Model.Item1.SetupDate.Value.Month<10?"0"+Model.Item1.SetupDate.Value.Month.ToString():Model.Item1.SetupDate.Value.Month.ToString(), Model.Item1.SetupDate.Value.Day<10?"0"+Model.Item1.SetupDate.Value.Day.ToString():Model.Item1.SetupDate.Value.Day.ToString(), Model.Item1.SetupDate.Value.Hour==0 || Model.Item1.SetupDate.Value.Hour<10?"0"+Model.Item1.SetupDate.Value.Hour.ToString():Model.Item1.SetupDate.Value.Hour.ToString(), Model.Item1.SetupDate.Value.Minute==0 || Model.Item1.SetupDate.Value.Minute<10?"0"+Model.Item1.SetupDate.Value.Minute.ToString():Model.Item1.SetupDate.Value.Minute.ToString())}" />
            </div>
            </div>

        <div class="form-group row">
            <label class="col-form-label" for="Price">Цена</label>
            <div class="col-sm-10">
                <input class="form-control" disabled type="number" step="0.001" id="Price" value="@Model.Item1.Price.ToString().Replace(",", ".")" />
            </div>
            </div>

        <div style="margin-bottom:40px">
            <button type="button" class="btn-outline-dark" onclick="addPositionOrder()">Добавить позицию заказа</button>



            <select class="form-control" id="windowsSelect" hidden>
                <option selected></option>
                @foreach (var e in Model.Item4)
                {
                    <option value="@e.Id">@String.Format("модель-{0} производитель {1} цвет {2} наличие-{3} цена:{4}",e.Model==null?"неизвестна":e.Model, e.ManufactorName, e.Color, e.Having ? "В наличии" : "Нет в наличии", e.Price)</option>
                }
            </select>


            <table id="orderPositions" class="table">
                <tr>
                    <th>Окно</th>
                    <th>Длина</th>
                    <th>Ширина</th>
                </tr>
                @{int i = -1;
                    foreach (var e in Model.Item1.OrderPositions)
                    {
                        i++;
                        <tr id="@i">
                            <td>
                                <select class="form-control" id="windowsSelect" onchange="changeWindow(this, @i)">
                                    @foreach (var window in Model.Item4)
                                    {
                                        <option @(e.WindowId == window.Id ? "selected" : "")
                                                value="@window.Id">
                                            @String.Format("Модель-{0} Производитель {1} цвет {2} наличие-{3} цена:{4}",window.Model==null?"неизвестна":window.Model, window.ManufactorName, window.Color, window.Having ? "В наличии" : "Нет в наличии", window.Price)
                                        </option>
                                    }
                                </select>



                            </td>
                            <td> <input class="form-control" type="number" onchange="changeLength(this,@i)" value="@e.Length" /></td>
                            <td> <input class="form-control" type="number" onchange="changeWidth(this,@i)" value="@e.Width" /></td>
                            <td> <input class="form-control" type="button" value="Удалить" onclick="deleteOrderPosition(@e.Id)" /></td>
                            <input type="hidden" value="@e.Id" />
                        </tr>


                    }
                    <input type="hidden" value="@i" id="countPositions" />
                }
            </table>
            <input type="button" value="Обновить позиции заказа" class="btn-dark" onclick="updateOrderPositions()" />
        </div>
        <div class="form-group" style="margin-left:144px;">
                <input type="button" value="Сохранить" class="btn btn-primary" onclick="sendData()" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<script src="~/Scripts/ScriptsForViews/editOrder.js">

</script>





