@model IEnumerable<DataBaseMVCApplication.ViewModels.OrderViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Добавить заказ", "Add",null,new {@class="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayName("Продавец")
        </th>
        <th>
            @Html.DisplayName("Покупатель")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeliver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSetup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliverDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SetupDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Id.ToString(),"Show",new {orderId=item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seller.FIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Buyer.FIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeliver)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSetup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliverDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SetupDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
    </tr>
}

</table>
