@model List<DataBaseMVCApplication.ViewModels.SellerViewModel>
@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @Html.ActionLink("Добавить продавцов", "Add", "Seller", null, new { @class = "btn btn-primary" })
    <div>
        <table class="table">
            <tr>
                <th>ФИО</th>
                <th>Электронная почта</th>
                <th>Телефон</th>
                <th>Процент от заказа</th>
            </tr>
            <tr>
                @foreach (var e in Model)
                {
                    <td>@Html.ActionLink(e.FIO,"Show",new {sellerId = e.Id })</td>
                    <td>@e.Email</td>
                    <td>@e.Phone</td>
                    <td>@e.PercentFromOrder</td>
                }
            </tr>
        </table>
    </div>
</body>
</html>
