@model List<DataBaseMVCApplication.ViewModels.SellerViewModel>
@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @Html.ActionLink("Добавить продавца", "Add", "Seller", null, new { @class = "btn btn-primary" })
    <div>
        <table class="table table-sm">
            <tr>
                <th>ФИО</th>
                <th>Электронная почта</th>
                <th>Телефон</th>
                <th>Процент от заказа</th>
            </tr>

            @foreach (var e in Model)
            {
        <tr id="@e.Id">
            <td>@Html.ActionLink(e.FIO, "Show", new { sellerId = e.Id })</td>
            <td>@e.Email</td>
            <td>@e.Phone</td>
            <td>@e.PercentFromOrder</td>
            <td>
                <button type="button" onclick="deleteSeller(@e.Id)" style="background-color: transparent;border:none;">
                    <img width="25px" height="25px" src="~/Images/delete.png" />
                </button>
            </td>
        </tr>
                    }
               
            </table>
    </div>
    <script src="~/Scripts/ScriptsForViews/removeEntities.js"></script>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


</body>
</html>
